body {
    font-family: "Roboto", sans-serif;
    color:  #434455;
    text-shadow: 0px, 0px, 12px, 0px, #000000;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.visually-hidden {
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.logo-header {
color: #4D5AE5;
font-family:"Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

}
.logo-header-color {
    color:#2E2F42;

}

.header-menu-link {
color: #2E2F42 ;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

 


.header-menu-studio:active {
color: #404bbf;
flex-shrink: 0;

}
.address{
    font-style: normal;
}
.header-address{

}

.header-address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }

  .header-address-link{
    color: #434455;
  }
  .header-address-link:hover {
    color: #404BBF; 
}
  .header-address-link:focus {
    color: #404BBF; 
}  
.header-menu-link:hover {
    color: #404BBF;
}

.header-menu-link:focus{
    color: #404BBF;
}

.header-address-item:focus{
background-color: #404BBF;
}

  
.hero {
    background:  #2E2F42;

}
.hero-title {
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.hero-button {
color: #FFF;
background-color: #4D5AE5;
font-family: inherit;
font-style: normal;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;

}

/*----features----*/
.features-list {
    background-color: #FFF;
}
.features-item {
    background-color: #F4F4FD
}

.features-subtitle {
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.features-item-text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*----Team----*/

.team {
    background-color: #F4F4FD;
}

.section-name {
color:  #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height:1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-list {
    background-color: #FFFFFF;
}

.team-card {
    background-color: #FFFFFF;
}

.team-img {
}

.team-subtitle {
color:#2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.team-position {
text-align: center;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*----portfolio----*/
.portfolio-title {

}
.portfolio-img {
}

.portfolio-subtitle {
color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.20;
letter-spacing: 0.02em;
}

.portfolio-content {
 color:#434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*----footer----*/

.footer{
    background-color: #2E2F42;
}

.footer-logo {
color: #4d5ae5 ;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-logo-color {
   color: #F4F4FD;
}

.footer-text{
color: #F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}