body {
    font-family: "Roboto", sans-serif;
    color:  #434455;
    background-color: #FFFFFF;
}

.container { 
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1158px;
    margin: 0 auto;
    
       }

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    }


a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background-color: var(--WHITE, #FFF);
    
}

.logo-header {
    display: flex;
    margin-right: 76px;
    width: 44px;
    color: #4D5AE5;
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-header-color {
    color:#2E2F42;
}

.header-menu-link {
    color: #2E2F42 ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-studio:active {
    color: #404bbf;
    flex-shrink: 0;
}

.address{
    font-style: normal;
}
.header-navigation{
    
    display: flex;
    gap: 40px;
    align-items: center;
    
}
.header-menu{
    display: flex;
    gap: 40px;
    margin-left: 76px;
    
}

.header-address{
    display: flex;
    gap: 40px;
    margin-left: auto;

}

.header-address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-address-link{
    color: #434455;
  }
  .header-address-link:hover {
    color: #404BBF; 
}
  .header-address-link:focus {
    color: #404BBF; 
}  
.header-menu-link:hover {
    color: #404BBF;
}

.header-menu-link:focus{
    color: #404BBF;
}

.header-address-item:focus{
background-color: #404BBF;
}

  /**----HERO----**/

.hero-container{
    background-color:  #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    
}
.hero-title {
    width: 496px;
    text-align: center;
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;

}
.button-position{
    display: flex;
}

.hero-button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    background-color: #4D5AE5;
    font-family: inherit;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 48px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;

}

/*----features----*/

.features-list {
    display: flex;
    gap: 24px;
    background-color: #FFF  ;
}
.features-item {
    background-color:  #FFF;
    width: calc(100% - 72px * 4);
}

.features-subtitle {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/*----Team----*/

.team {
    display: block;
  
    background-color: #F4F4FD;
    padding-top: 120px;
}
.team-img{
    display: block;
    gap: 24px;
	max-width: 100%;
}
.team-title {  
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height:1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto 72px;

}

.team-list {
    display: inline;
    row-gap: 24px;
    background-color: #FFFFFF;
    
}

.team-card {
    display: inline-flex;
    padding-bottom: 32px;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    gap: 32px 24px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-card-s {
    margin-left: auto;
    margin-right: auto;
    
    
}

.team-subtitle {
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;

}

.team-position {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    
}
   


/*----portfolio----*/

.portfolio-container{
    margin: 0 auto 72px;
    padding-bottom: 120px;
    padding-top: 120px;
}

.portfolio-img{
    display: block;
    width: 360px;

}
.portfolio-subtitle{
    margin-bottom: 8px;
}

.portfolio-text{
padding-left: 16px;
padding-right: 16px;
margin-top: 32px;
padding-bottom: 32px;
}
.portfolio-card{
    display: flex;
    flex-wrap: wrap;
    row-gap:  48px;
    column-gap:  24px;
    width: calc(100% - 48px * 3);

}
.portfolio-item{
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    
}

.portfolio-title {
    margin: 0 auto 72px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}

.portfolio-subtitle {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
}

.portfolio-content {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*----footer----*/


.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2E2F42;
    padding: 101.5px 1020px 100px 156px;
}

.footer-logo {

color: #4d5ae5 ;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 15px;


}

.footer-logo-color {
   color: #F4F4FD;
   width: 71px;
   flex-direction: column;
   justify-content: center;
}

.footer-text{

color: #F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
margin: 100%;
padding-bottom: 100px;
border-left: 156px;
}